li{
  list-style: none;
  display:inline-block;
  margin: 2px;
}

.nav-button{
  height:50px;
  width: 50px;
}

.main-button{
    height:50%;
    width: 50%;
    max-width: 220px;
    max-height: 120px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

